@import url("https://fonts.googleapis.com/css2?family=Sarabun:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;600;700&family=Rubik:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sarabun:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");

/**

	VARIABLE:
	- Color Palletes
	- Typography

 */
/**
=========================
	- Color Palletes
=========================
*/
/**
=========================
	- Typography
=========================

$font-default-family:   'Cabin', sans-serif;
$font-alternate-family:   'Roboto', sans-serif;
$font-secondary-family:   'Hind', sans-serif;

*/
/**
=========================
	- Color Palletes
=========================
*/
/**
=========================
	- Typography
=========================
*/
/**

	VARIABLE:
	- Color Palletes
	- Typography

 */
/**
=========================
	- Color Palletes
=========================
*/
/**
=========================
	- Typography
=========================
*/
html {
  scroll-behavior: smooth;
}

html button:focus {
  outline: 0px solid !important;
}
.top-footer {
  background: #3949ab;
  padding-top: 100px;
  padding-bottom: 100px;
}

.top-footer .logo-produk {
  margin-bottom: 2rem;
}

.top-footer .list-kontak {
  margin-top: 4px;
}

.top-footer .list-kontak .icon-contact {
  padding: 0;
}

.top-footer .list-kontak .icon-contact img {
  width: 100%;
  height: auto;
  padding: 12px;
}

.top-footer .list-kontak .item-kontak {
  font-weight: 600;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  margin-top: 16px;
}

.top-footer .list-kontak .info-cs {
  margin-top: -14px;
  color: rgba(255, 255, 255, 0.92);
}

.top-footer .list-sosmed {
  margin-top: .75rem;
}

.top-footer .list-sosmed .icon-contact {
  padding: 0;
}

.top-footer .list-sosmed .icon-contact img {
  width: 100%;
  height: auto;
  padding: 4px;
}

.top-footer .list-sosmed .item-kontak {
  font-size: 16px;
  margin-top: 10px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.92);
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.top-footer .list-sosmed .item-kontak:hover {
  color: #D32F2F;
}

.top-footer .copyright-text {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 36px;
}

.top-footer p {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
  line-height: 26px;
}

.top-footer .menu-title {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}

.top-footer ul.footer-menu {
  list-style-type: none;
  margin-top: 24px;
  padding-left: 0;
}

.top-footer ul.footer-menu li {
  margin-bottom: 1.25rem;
}

.top-footer ul.footer-menu li a {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-weight: 400;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.top-footer ul.footer-menu li a:hover {
  color: #D32F2F;
}

.nav-head {
  font-family: 'Exo', sans-serif;
  width: 100%;
  border-top: 4px solid #D32F2F;
  background-color: #fff;
  border-bottom: 1px solid #e5e5e5;
}

.nav-head .dropdown-produk {
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
  width: 560px !important;
  left: auto !important;
  right: 0 !important;
  top: 55px;
  border: none;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.nav-head .dropdown-produk .button-nav {
  width: 100%;
  background: #F6F8FA;
  padding: 30px;
  bottom: 0;
  text-align: center;
  border-bottom-right-radius: 4px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  color: black;
  border-bottom-left-radius: 4px;
  border: none;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.nav-head .dropdown-produk .button-nav:hover {
  background: #030047;
  color: #fff;
}

.nav-head .dropdown-produk .produk {
  padding: 20px;
}

.nav-head .dropdown-produk h3 {
  font-weight: 600;
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 20px;
}

.nav-head .dropdown-produk a {
  text-decoration: none;
  font-weight: 500;
}

.nav-head .dropdown-produk .card {
  font-family: 'Exo', sans-serif;
  height: 100px;
  padding: 15px 15px 0px 15px;
  margin-bottom: 20px;
  border: 1px solid #F2F2F2;
  border-radius: 4px;
  -webkit-transition: border-color 300ms;
  transition: border-color 300ms;
}

.nav-head .dropdown-produk .card p {
  font-size: 0.8rem;
  line-height: 1.4;
}

.nav-head .dropdown-produk .card:hover {
  border: 1px solid #030047;
}

.nav-head .dropdown-produk img {
  height: auto;
  margin-bottom: 10px;
}

.nav-head .dropdown-produk:after {
  position: absolute;
  right: 0;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  top: -15px;
  width: 0;
  height: 0;
  content: '';
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #fff;
}

.nav-head .left-content {
  float: left;
}

.nav-head .left-content p {
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.6);
  display: inline-block;
  margin-top: 18px;
  font-weight: bold;
}

.nav-head .left-content p span {
  font-weight: normal;
}

.nav-head .left-content a img {
  height: 40px;
}

.nav-head .navbar {
  float: right;
}

.nav-head .navbar ul li {
  margin-left: 10px;
}

.nav-head .navbar ul li a {
  color: #797B92;
  font-weight: 600 !important;
}

@media (max-width: 991px) {
  .nav-head .navbar {
    display: none;
  }
}

.navbar-dark .navbar-toggler {
  background: #E31E21;
}
.toggle-responsive {
  display: block !important;
}

.indexcity {
  z-index: 9999 !important;
  margin-top: -100px !important;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.right {
  right: 0 !important;
  left: 0 !important;
}

.sticky-header {
  position: fixed;
  background: #fff;
  top: 0;
  z-index: 99;
  width: 100%;
  -webkit-animation: smoothScroll .5s forwards;
          animation: smoothScroll .5s forwards;
}

@-webkit-keyframes smoothScroll {
  0% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes smoothScroll {
  0% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.navbar-hide {
  display: none;
  font-weight: bold;
  background-color: transparent;
}

.header-text-loker h1 {
  font-family: "Poppins", sans-serif;
}

.header-text-loker p {
  font-family: "Sarabun", sans-serif;
}



.navbar-hide {
  display: none;
  font-weight: bold;
}

.navbar .logo-nav {
  width: 200px;
}

.navbar .nav-item {
  margin: 0 .75rem;
  font-family: "Sarabun", sans-serif;
  font-weight: bolder;
  font-size: 16px;
  color: #0f2440;
}

.navbar .btn-tuliskendala {
  color:#ffffff;
  background-color: #E31E21;
  outline: none;
  padding: .75rem 1.5rem;
  border-radius: 50px;
  font-family: "Sarabun", sans-serif;
  font-weight: bold;
  font-size: 1rem;
}



.footer .card {
  -webkit-box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.084);
          box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.084);
  border: none;
  border-radius: 40px;
  padding: 8px;
  margin-bottom: 25px;
  margin-top: 1.5rem;
  height: 20rem;
  background-color: #00195E;
  background-image: url("../img/ornamen.png");
  text-align: center;
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  background-blend-mode: normal;
  width: auto !important;
  height: auto !important;
}

.footer h1 {
  color: #FFFFFF;
  font-size: 36px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 54px;
  padding-top: 2rem;
  padding-bottom: 16px;
}

.footer h2 {
  color: #FFFFFF;
  font-size: 18px;
  font-family: "Sarabun", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 160%;
  padding-bottom: 48px;
  text-align: center;
}

.footer .btn-primary {
  padding: 1rem 2.5rem;
  border-radius: 10rem;
  background-color: #EF2427;
  border: none;
  font-size: 16px;
  font-family: "Sarabun", sans-serif;
}

.footer .btn-primary:hover {
  -webkit-box-shadow: 5px 5px 1px 0 #f17374, 0 7px 100px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 5px 5px 1px 0 #f17374, 0 7px 100px 0 rgba(0, 0, 0, 0.19);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}








/*# sourceMappingURL=main.css.map */