/** @format */oppins
/* form */
#form-section form .form-group {
  margin-bottom: 1.75rem;
}
#form-section form .form-group p{
  font-size: 12px !important;
  font-family: 'poppins', sans-serif;
  color: #7283e7;
}
/* #form-section form .form-group .wpcf7-form-control-wrap{
  font-size: 12px !important;
  font-family: 'poppins', sans-serif;
  color: #7283e7;
} */
.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-color: #8b8b8b transparent transparent transparent !important;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  height: 0;
  left: 50%;
  margin-left: -17px !important;
  margin-top: 9px !important;
  position: absolute;
  top: 50%;
  width: 0;
}
/* form */

/* hero */
#hero-mitra {
  background-image: url('../img/bg-bg-bg.jpg') !important;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
#hero-mitra h1 {
  font-size: 2rem;
}

#hero-mitra .header {
  padding: 3rem 0;
  color: #fff;
  background: transparent !important;
}

#hero-mitra .header a {
  text-decoration: underline;
}

#hero-mitra .header a:hover {
  font-weight: bold;
}
/* end hero */
#pricing-with-accordion {
  padding-top: 2rem;
  padding-bottom: 3rem;
}

#pricing-with-accordion article {
  width: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 100;
}

#pricing-with-accordion article h6.item {
  font-weight: bold;
  font-size: 0.7rem;
  line-height: 1;
  text-align: center;
  letter-spacing: 0.1em;
  color: #ffa000;
  text-transform: uppercase;
}

#pricing-with-accordion article .text {
  font-size: 0.875rem;
  margin-bottom: 1rem;
}

#pricing-with-accordion article .harga {
  font-weight: 600;
  font-size: 1.15rem;
  text-align: center;
}

#pricing-with-accordion article ul {
  display: flex;
  top: 0px;
  z-index: 10;
  padding-bottom: 0.5rem;
  padding-left: 0;
  overflow-x: auto;
}

#pricing-with-accordion article ul li {
  list-style: none !important;
  flex: 1;
}

#pricing-with-accordion article ul li:last-child {
  border-right: 1px solid #ddd;
}

#pricing-with-accordion article ul li h6.item {
  font-size: 1rem;
  text-transform: lo;
  margin: 0;
}

#pricing-with-accordion article ul li.active button {
  background: #fdf3e2;
}

#pricing-with-accordion article ul li.active button h6.item {
  color: #000;
}

#pricing-with-accordion article ul button {
  width: 100%;
  border: 1px solid #ddd;
  border-right: 0;
  border-top: 0;
  padding: 0 0.75rem;
  background: #fff;
  font-size: 14px;
  font-weight: bold;
  height: 60px;
  color: #999;
}

#pricing-with-accordion article table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}

#pricing-with-accordion article table tr.price-head > th {
  background: #3949ab;
  color: #fff;
}

#pricing-with-accordion article table th {
  position: relative;
  background: #fff;
  border: 1px solid #e2f4eb;
  display: none;
  empty-cells: show;
  padding: 1.4rem 1rem;
  text-align: center;
}

#pricing-with-accordion article table th:first-child {
  width: 20%;
}

#hero-price {
  background: url('../img/bg-promo.png');
  object-fit: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  height: 250px;
  padding: 1.5rem;

  .desc {
    padding-top: 5rem;
    padding-bottom: 2rem;
  }

  .image-hero img {
    width: 100%;
    height: auto;
  }

  .desc {
    h3 {
      margin-top: 5px;
      font-family: $font-title;
      font-weight: 500;
      font-size: 36px;
      color: #fff;
    }

    label {
      font-family: $font-title;
      font-weight: 500;
      margin-bottom: 0;
      font-size: 18px;
      color: $color-biru;
    }

    p {
      font-size: 18px;
      color: #fff;
      font-family: $font-konten;
    }
  }
}

#pricing-with-accordion article table td {
  border: 1px solid #fff;
  empty-cells: show;
  vertical-align: middle;
  background: #fff;
  text-align: center;
  font-size: 0.85rem;
}

@media (max-width: 991.98px) {
  #pricing-with-accordion article table td {
    font-size: 0.875rem;
  }
}

#pricing-with-accordion article table .sep ~ td i.uil-check-circle {
  color: #fff;
  font-size: 1.5rem;
}

#pricing-with-accordion article table td i.uil-check-circle {
  color: #3949ab;
  font-size: 1.5rem;
}

#pricing-with-accordion article table .sep ~ td i.uil-times-circle {
  color: rgba(255, 255, 255, 0.2);
  font-size: 1.5rem;
}
#pricing-with-accordion article table td i.uil-times-circle {
  color: rgba(79, 79, 79, 0.2);
  font-size: 1.5rem;
}

#pricing-with-accordion article table td .alert-success {
  font-size: 0.8rem;
  line-height: 1.125rem;
  position: relative;
  padding: 0.25rem 1.75rem;
  border-radius: 6px;
  margin-top: 0.5rem;
}

#pricing-with-accordion article table td .alert-success i {
  position: absolute;
  font-size: 1rem;
  position: absolute;
  right: 1.25rem;
  top: 50%;
  -webkit-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
}

#pricing-with-accordion article table td.default {
  display: table-cell;
}

#pricing-with-accordion article table td.default i.uil-check-circle {
  color: #ffa000;
  font-weight: bold;
}

#pricing-with-accordion article table td.default i.uil-times-circle {
  color: rgba(255, 160, 0, 0.5);
  font-weight: bold;
  opacity: 100%;
}

#pricing-with-accordion article table td + td,
#pricing-with-accordion article table th + th {
  text-align: center;
  display: none;
  border: 1px solid white;
}
#pricing-with-accordion article table .baru {
  text-align: center;
  display: none;
  border: 1px solid #e2f4eb;
}

#pricing-with-accordion article table .tick {
  font-size: 18px;
  color: #2ca01c;
}

#pricing-with-accordion article table .hide {
  border: 0;
  background: none;
}

@media (min-width: 992px) {
  #pricing-with-accordion article ul {
    display: none;
  }
  #pricing-with-accordion article th {
    display: table-cell !important;
    width: 25%;
    padding-left: 0.75rem;
  }
  #pricing-with-accordion article th.header {
    padding: 2.5rem 1rem;
  }
  #pricing-with-accordion article td {
    display: table-cell !important;
    width: 25%;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
  #pricing-with-accordion article td.kontrak-sm {
    width: 25%;
    padding-left: 0.75rem;
    padding-right: 0.75rem;

    @media (min-width: 768px) {
      display: none !important;
    }
  }
  #pricing-with-accordion article td.fitur {
    font-size: 0.9rem !important;
    padding-left: 1rem;
  }
  #pricing-with-accordion article td.fitur-child {
    font-size: 0.875rem;
  }
  #pricing-with-accordion article td + td,
  #pricing-with-accordion article th + th {
    width: auto;
  }
  #pricing-with-accordion article .sep {
    font-size: 1rem;
  }
}

#pricing-with-accordion article p.modul {
  font-size: 1.2rem !important;
}
#pricing-with-accordion article p {
  padding: 0;
  margin: 0;
}

#pricing-with-accordion article .accordion-row .accordion-header td {
  height: 70px;
  padding: 1rem;
  font-size: 1rem;
}

@media (max-width: 991.98px) {
  #pricing-with-accordion article .accordion-row .accordion-header td {
    font-size: 0.875rem;
  }
}

#pricing-with-accordion
  article
  .accordion-row
  .accordion-header.active
  td.fitur {
  position: relative;
  padding-right: 3rem;
}

#pricing-with-accordion
  article
  .accordion-row
  .accordion-header.active
  td.fitur
  i {
  display: none;
  cursor: pointer;
  position: absolute;
  right: 1.5rem;
  top: 50%;
  -webkit-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
  height: 1.75rem;
  width: 1.75rem;
  border-radius: 50%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: #ffa000;
  color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#pricing-with-accordion
  article
  .accordion-row
  .accordion-header.active
  td.fitur
  i:hover {
  background: #ef6c00;
  -webkit-box-shadow: 4px 4px 10px rgba(244, 208, 63, 0.5);
  box-shadow: 4px 4px 10px rgba(244, 208, 63, 0.5);
  color: #fff;
}

#pricing-with-accordion
  article
  .accordion-row
  .accordion-header.active
  td.bonus {
  background: #ffa000;
}

/* #pricing-with-accordion article .accordion-row .accordion-child {
	display: none;
} */

#pricing-with-accordion article .accordion-row .accordion-child td {
  padding: 0.5rem 1rem;
  background: #fafafa;
  border-top: none;
  border-bottom: none;
  font-size: 1rem;
}

@media (max-width: 991.98px) {
  #pricing-with-accordion article .accordion-row .accordion-child td {
    font-size: 0.825rem;
  }
}

#pricing-with-accordion article .accordion-row .accordion-child td.fitur-child {
  padding-left: 2rem;
  text-align: left;
}

#pricing-with-accordion
  article
  .accordion-row
  .accordion-child
  td
  .uil-info-circle {
  font-size: 1rem;
  color: #3949ab;
}

#pricing-with-accordion article .accordion-row .accordion-child:last-child {
  border-bottom: 1px solid rgba(4, 28, 50, 0.15);
}

#pricing-with-accordion article .accordion-row.expanded .accordion-header td {
  border-bottom: none;
}

#pricing-with-accordion
  article
  .accordion-row.expanded
  .accordion-header
  td:not(.fitur) {
  background: #fafafa;
}

#pricing-with-accordion
  article
  .accordion-row.expanded
  .accordion-header
  td:not(.fitur)
  i {
  display: none;
}

#pricing-with-accordion article .accordion-row.expanded .accordion-child {
  display: table-row;
}

#pricing-with-accordion button {
  width: auto;
  border: 1px solid #e2f4eb;
  border-right: 0;
  border-top: 0;
  padding: 10px;
  background: #fff;
  font-size: 14px;
  font-weight: bold;
  height: 60px;
  color: #999;
}

#pricing-with-accordion a.btn-kontak {
  background: #ffa000;
  border-radius: 5px;
  width: 100%;
  font-weight: bold;
  font-size: 0.75rem;
  text-align: center;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-top: 0.75rem;
  padding: 6px;
}

@media (max-width: 991.98px) {
  #pricing-with-accordion a.btn-kontak {
    font-size: 0.875rem;
    margin: 0;
  }
}

#pricing-with-accordion a.btn-kontak:hover {
  background: #ef6c00;
  -webkit-box-shadow: 4px 4px 10px rgba(244, 208, 63, 0.5);
  box-shadow: 4px 4px 10px rgba(244, 208, 63, 0.5);
  color: #fff;
}

#pricing-with-accordion tfoot a.btn-kontak {
  margin-top: -0.25rem;
  margin-bottom: 1rem;
}

@media (max-width: 991.98px) {
  #pricing-with-accordion tfoot a.btn-kontak {
    font-size: 0.875rem;
    margin: 0;
  }
}

#pricing-with-accordion .sep {
  background: #7283e7;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  text-align: left;
}

#pricing-with-accordion .fitur {
  background: rgba(170, 187, 231, 0.25);
  /* color: #fff; */
  font-size: 1rem;
  font-weight: 600;
  text-align: left !important;
}
#pricing-with-accordion .fitur ~ td {
  background: rgba(170, 187, 231, 0.25);
  /* color: #fff; */
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
}

#pricing-with-accordion .txt-l {
  font-size: 28px;
  font-weight: bold;
}

#pricing-with-accordion .txt-top {
  position: relative;
  top: -9px;
  left: -2px;
}

#pricing-with-accordion .col-11 {
  padding: 0;
  margin: 0;
}

#pricing-with-accordion .price-mobile {
  position: relative;
}

#pricing-with-accordion .price-mobile .card {
  border: none;
  background: linear-gradient(212.16deg, #aabbe7 13.32%, #3949ab 90.99%);
}

#pricing-with-accordion .price-mobile .card a.btn-kontak {
  background: #ffa000;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-top: 0.75rem;
  padding: 6px;
}

#pricing-with-accordion .price-mobile .card .item-mobile {
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 1;
  color: #fff;
  text-transform: uppercase;
  padding: 1rem;
  text-align: center;
}

#pricing-with-accordion .price-mobile .card .box-harga {
  background-color: white;
  text-align: center;
  padding: 1rem;
  margin-bottom: 1rem;
  min-height: 97px;
}

#pricing-with-accordion .price-mobile .card .box-harga p {
  padding-bottom: 0;
  margin-bottom: 0;
}

#pricing-with-accordion .price-mobile .card .box-harga .harga-mobile {
  font-weight: bold;
  font-size: 1.75rem;
  line-height: 1;
}

#pricing-with-accordion .price-mobile .card .box-harga .bulan {
  font-size: 1rem;
  line-height: 1;
  letter-spacing: 0.1em;
  color: #3949ab;
  font-weight: bold;
}

#pricing-with-accordion .price-mobile .card .box-harga .diskon {
  font-size: 0.875rem;
  padding-top: 1rem;
}

#pricing-with-accordion .price-mobile .card .card-konten {
  color: #fff;
  padding: 0 1rem 1rem 1rem;
}

#pricing-with-accordion .price-mobile .card .card-konten ul li {
  list-style: none;
  font-weight: bold;
  font-size: 1rem;
  text-align: left;
  line-height: 2;
  font-family: 'Hind', sans-serif;
}

#pricing-with-accordion .price-mobile .card .card-konten li.none {
  color: rgba(255, 255, 255, 0.25);
}

#pricing-with-accordion .price-mobile .card .card-konten li.akreditasi {
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  border-top: 1px solid rgba(255, 255, 255, 0.25);
}

#pricing-with-accordion .price-mobile .owl-theme .custom-nav {
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
}

#pricing-with-accordion .price-mobile .owl-theme .custom-nav .owl-prev,
#pricing-with-accordion .price-mobile .owl-theme .custom-nav .owl-next {
  position: absolute;
  height: 100px;
  color: inherit;
  background: none;
  border: none;
  z-index: 100;
}

#pricing-with-accordion .price-mobile .owl-theme .custom-nav .owl-prev i,
#pricing-with-accordion .price-mobile .owl-theme .custom-nav .owl-next i {
  font-size: 4rem;
  color: #555;
}

#pricing-with-accordion .price-mobile .owl-theme .custom-nav .owl-prev {
  left: -25px;
  top: 50px;
}

#pricing-with-accordion .price-mobile .owl-theme .custom-nav .owl-next {
  right: -25px;
  top: 50px;
}

#pricing-with-accordion .pricing-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

#pricing-with-accordion .pricing-footer .note {
  max-width: 80vw;
  padding: 1rem;
}

#pricing-with-accordion .pricing-footer .note p {
  padding: 0;
  margin: 0;
  font-size: 0.825rem;
  line-height: 1.125rem;
  margin-bottom: 0.25rem;
}

@media (max-width: 991.98px) {
  #pricing-with-accordion .pricing-footer .note p {
    font-size: 0.75rem;
    line-height: 1rem;
  }
}

#pricing-with-accordion .pricing-footer a {
  background: transparent;
  border-radius: 6px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
  padding: 0;
  border: 1px solid #dedede;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#pricing-with-accordion .pricing-footer a i {
  padding: 0.25rem;
  border-radius: 6px;
  background: #f40f02;
  color: #fff;
}

#pricing-with-accordion .pricing-footer a p {
  font-weight: 500;
  font-size: 0.875rem;
  margin: 0;
  padding: 0.25rem 1rem 0.25rem 0.5rem;
  color: #707070;
}

#pricing-with-accordion .pricing-footer a:hover {
  border: 1px solid #9d9d9d;
  -webkit-box-shadow: 4px 4px 10px #dedede;
  box-shadow: 4px 4px 10px #dedede;
}

#pricing-with-accordion .pricing-footer a:hover i {
  background: #f40f02;
}

#pricing-with-accordion .pricing-footer a:hover p {
  color: #545454;
}

@media (max-width: 575.98px) {
  #pricing-with-accordion .pricing-footer {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  #pricing-with-accordion .pricing-footer .note {
    max-width: unset;
    margin-bottom: 1rem;
  }
}

#pricing-with-accordion article .sep ~ td {
  background: #7283e7;
  color: #fff;
  border: 1px solid white;
}

#form-section {
  padding: 2rem 0;
  margin: 0 auto;
  background-image: url(../img/bg-footer.png);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 60%;
}

#form-section h3 {
  font-size: 2.25rem;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}

#form-section .alert .konten {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

#form-section .alert .konten a {
  color: #856404;
  text-decoration: underline;
}

#form-section .alert .konten .img-alert {
  height: 100px;
}

#form-section .alert .konten .btn-alert {
  color: #fff;
  background-color: #3949ab;
  border-radius: 50px;
  margin-top: 1rem;
}

#form-section form {
  background-color: #e7eeff;
  border-radius: 6px;
  padding: 3rem 2rem;
}

#form-section form .subheading {
  font-style: normal;
  font-size: 1.2rem;
  line-height: 1.5;
  font-family: 'poppins', sans-serif;
  color: #3949ab;
  width: 100%;
  text-align: left;
}

#form-section form .lead {
  font-size: 1.15rem;
  color: #7283e7;
  margin-bottom: 2.5rem;
}

#form-section form .biru {
  font-size: 1rem;
  color: #3949ab;
  font-weight: bold;
}

#form-section form span.wpcf7-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin: 0 0 1rem 0;
}

#form-section form span.wpcf7-list-item-label {
  margin-left: 1rem;
}



#form-section form .form-group input[type='text'],
#form-section form .form-group input[type='tel'],
#form-section form .form-group input[type='password'],
#form-section form .form-group input[type='email'] {
  border: 1px solid #616161;
}

#form-section form .form-group input[type='text']:focus,
#form-section form .form-group input[type='tel']:focus,
#form-section form .form-group input[type='password']:focus,
#form-section form .form-group input[type='email']:focus {
  border: 1px solid #272530;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#form-section form .form-group textarea:focus {
  border: 1px solid #272530;
}

#form-section form .form-control {
  height: 3rem;
}

#form-section
  form
  .custom-control-input:checked
  ~ .custom-control-label::before {
  color: white;
  background-color: red;
  color: #fff;
  border-color: red;
}

#form-section form .btn-kirim {
  background: #3957a1;
  border: 1px solid #3957a1;
  border-radius: 50px;
  color: #fff;
  height: 60px;
  font-weight: bold;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#form-section form .btn-kirim:hover {
  background: #4a6fce;
}

#form-section .tittle span {
  font-weight: 500;
  font-size: 16px;
  color: #5979c1;
  background: #e7eeff;
}

#form-section .tittle h3 {
  font-size: 2.25rem;
  line-height: 1.5;
  color: #000a12;
  margin-top: 1rem;
  font-weight: 600;
}

#form-section .tittle p {
  font-size: 1.25rem;
  line-height: 1.5;
  color: #000a12;
  opacity: 0.8;
}

#form-section hr.dash {
  margin-top: 40px;
  margin-bottom: 25px;
  max-width: 160px;
  border-top: 1px dashed #000a12;
  opacity: 0.3;
}

#form-section #testimonial-slider {
  text-align: left;
}

#form-section .testimonial .description {
  font-size: 1rem;
  color: #000a12;
  font-weight: normal;
  font-family: 'Hind', sans-serif;
  line-height: 1.5;
  position: relative;
  padding: 1.5rem 0 0;
}

#form-section .testimonial .description:before,
#form-section .testimonial .description:after {
  font-family: 'FontAwesome';
  content: '\201C';
  font-weight: 900;
  position: absolute;
  font-size: 3rem;
  opacity: 0.4;
}

#form-section .testimonial .description:before {
  top: -20px;
  left: 0;
}

#form-section .testimonial .description:after {
  content: '\201D';
  right: 20px;
  bottom: -13rem;
}

#form-section .testimonial .title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #000a12;
  font-family: 'Hind', sans-serif;
  text-transform: capitalize;
  margin: 0;
}

#form-section .testimonial .post {
  display: block;
  font-size: 1rem;
  color: #000a12;
  opacity: 0.5;
}

#form-section .owl-buttons {
  width: 100%;
  height: 40px;
  position: absolute;
  bottom: 40%;
  left: 0;
}

#form-section .owl-prev,
#form-section .owl-next {
  position: absolute;
  left: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

#form-section .owl-next {
  left: auto;
  right: 0;
}

#form-section .owl-buttons .owl-prev:before,
#form-section .owl-buttons .owl-next:before {
  content: '\f104';
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  font-size: 60px;
  font-weight: 900;
  color: #cacaca;
  line-height: 20px;
  opacity: 0.8;
}

#form-section .owl-buttons .owl-next:before {
  content: '\f105';
}

#form-section .owl-buttons .owl-prev:hover:before,
#form-section .owl-buttons .owl-next:hover:before {
  opacity: 1;
}

#form-section .owl-theme .owl-controls .owl-buttons div {
  background: transparent;
}

#form-section .owl-theme .owl-controls {
  margin-top: 40px;
}

#form-section .owl-theme .owl-dots {
  text-align: left;
}

#form-section .owl-theme .owl-dots .owl-dot span {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #181e2e;
  opacity: 0.4;
  background: url('../img/Abu Bakar.png') no-repeat;
  background-size: cover;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  text-align: left;
}

#form-section .owl-theme .owl-dots .owl-dot:nth-child(2) span {
  background: url('../img/Larisiang.png') no-repeat;
  background-size: cover;
}

#form-section .owl-theme .owl-dots .owl-dot:nth-child(3) span {
  background: url('../img/Holillah.png') no-repeat;
  background-size: cover;
}

#form-section .owl-theme .owl-dots.clickable .owl-dot:hover span {
  opacity: 0.5;
}

#form-section .owl-theme .owl-dots .owl-dot.active span,
#form-section .owl-theme .owl-dots .owl-dot.active:hover span {
  border-color: #fff;
  opacity: 1;
}

@media only screen and (max-width: 479px) {
  #form-section .owl-buttons {
    bottom: 30%;
  }
}

.wp-select2 {
  width: 100%;
  height: 3rem;
  border-radius: 0.25rem !important;
  margin-right: 4rem;
}

.select2-container {
  width: 100% !important;
}

.select2-container .select2-selection--single {
  height: 3rem !important;
  border-radius: 0.25rem !important;
}

.select2-container--default
  .select2-selection--single
  .select2-selection__rendered {
  padding: 0.375rem 0.75rem;
  color: #1877d6;
  line-height: 35px !important;
  /* border: 1px solid #616161; */
  font-size: 13px;
}


.select2-container--disabled .select2-selection__rendered {
  background: #f5f5f5;
}

.select2-container--default .select2-selection--single {
  color: #495057;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  border-radius: 0;
  border: 1px solid #ced4da;
}

.select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  height: 100%;
}

.select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  background: transparent;
  border: none;
}

.select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  position: absolute;
  top: 1px;
  right: 10px;
  width: 20px;
}
