/**

	VARIABLE:
	- Color Palletes
	- Typography

 */

/**
=========================
	- Color Palletes
=========================
*/
$font-tes-secondary: rgba(4, 22, 46, 0.85);

/**
=========================
	- Typography
=========================

$font-default-family:   'Cabin', sans-serif;
$font-alternate-family:   'Roboto', sans-serif;
$font-secondary-family:   'Hind', sans-serif;

*/

/**
=========================
	- Color Palletes
=========================
*/
$color-title: #0f2440;
$color-paragraph: rgba(15, 36, 64, 0.85);
$color-konten: rgb(124, 132, 158);

$color-biru: #3949ab;
$color-merah-lama: #ef2427;
$color-merah: #e81115;

$color-black: #222222;
$color-black-alpha: #7a7a7a;
$color-dark-900: #001b36;
$color-dark-700: #667686;
$color-dark-500: #4d5f72;
$color-gray-2: #4f4f4f;
$color-alert: #fd3259;
$color-success: #009eb3;
$color-separator: #f5f6f8;
$color-danger: #ec4646;
$color-warning: #f39c12;
$color-disabled: #bec2c3;

/**
=========================
	- Typography
=========================
*/
$font-title: "Poppins", sans-serif;
$font-konten: "Sarabun", sans-serif;
