/**

	VARIABLE:
	- Color Palletes
	- Typography

 */


 /**
=========================
	- Color Palletes
=========================
*/
$font-tes-secondary:  rgba(4, 22, 46, .85);	

 /**
=========================
	- Typography
=========================

$font-default-family:   'Cabin', sans-serif;
$font-alternate-family:   'Roboto', sans-serif;
$font-secondary-family:   'Hind', sans-serif;

*/




 /**
=========================
	- Color Palletes
=========================
*/
$color-title:  #0f2440;
$color-paragraph:  rgba(15, 36, 64, .85);	
$color-konten: rgb(124, 132, 158);

$color-biru: #3949ab;
$color-merah: #EF2427;

 /**
=========================
	- Typography
=========================
*/
$font-title: 'Poppins', sans-serif;
$font-konten: 'Sarabun', sans-serif;